attrs==22.2.0
boto3==1.20.51
botocore==1.23.51
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
coverage==7.0.5
cryptography==39.0.0
execnet==1.9.0
hypothesis==6.31.6
idna==3.4
iniconfig==2.0.0
Jinja2==3.1.2
jmespath==0.10.0
MarkupSafe==2.1.2
mock==4.0.3
moto==3.0.2
packaging==23.0
pluggy==1.0.0
py==1.11.0
pycparser==2.21
pytest==7.0.0
pytest-cov==3.0.0
pytest-forked==1.4.0
pytest-mock==3.10.0
pytest-xdist==2.5.0
python-dateutil==2.8.2
pytz==2022.7.1
requests==2.28.2
responses==0.22.0
s3transfer==0.5.2
six==1.16.0
sortedcontainers==2.4.0
toml==0.10.2
tomli==2.0.1
types-toml==0.10.8.1
urllib3==1.26.14
Werkzeug==2.2.2
xmltodict==0.13.0
