apipkg==1.5
asn1crypto==1.0.1
atomicwrites==1.3.0
attrs==19.2.0
aws-sam-translator==1.15.0
aws-xray-sdk==2.4.2
backports.ssl-match-hostname==3.7.0.1
backports.tempfile==1.0
backports.weakref==1.0.post1
boto==2.49.0
boto3==1.9.246
botocore==1.12.246
certifi==2019.9.11
cffi==1.12.3
cfn-lint==0.24.4
chardet==3.0.4
configparser==4.0.2
contextlib2==0.6.0.post1
cookies==2.2.1
coverage==4.5.4
cryptography==3.2
DateTime==4.3
docker==4.1.0
docutils==0.15.2
ecdsa==0.13.3
enum34==1.1.6
execnet==1.7.1
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.18.0
futures==3.3.0
hypothesis==4.40.0
idna==2.8
importlib-metadata==0.23
ipaddress==1.0.22
Jinja2==2.10.3
jmespath==0.9.4
jsondiff==1.1.2
jsonpatch==1.24
jsonpickle==1.2
jsonpointer==2.0
jsonschema==3.1.1
MarkupSafe==1.1.1
mock==3.0.5
more-itertools==5.0.0
moto==1.3.13
packaging==19.2
pathlib2==2.3.5
pluggy==0.13.0
py==1.8.0
pyasn1==0.4.7
pycparser==2.19
pyparsing==2.4.2
pyrsistent==0.15.4
pytest==4.6.5
pytest-cov==2.8.1
pytest-forked==1.0.2
pytest-mock==1.11.1
pytest-xdist==1.30.0
python-dateutil==2.8.0
python-jose==3.0.1
pytz==2019.3
PyYAML==5.1.2
requests==2.22.0
responses==0.10.6
rsa==4.0
s3transfer==0.2.1
scandir==1.10.0
six==1.12.0
sshpubkeys==3.1.0
urllib3==1.25.6
wcwidth==0.1.7
websocket-client==0.56.0
Werkzeug==0.16.0
wrapt==1.11.2
xmltodict==0.12.0
zipp==0.6.0
zope.interface==4.6.0
