attrs==22.1.0
boto3==1.26.7
botocore==1.29.7
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
coverage==6.5.0
cryptography==38.0.3
exceptiongroup==1.0.1
execnet==1.9.0
hypothesis==6.56.4
idna==3.4
importlib-metadata==4.13.0
iniconfig==1.1.1
Jinja2==3.1.2
jmespath==1.0.1
MarkupSafe==2.1.1
mock==4.0.3
moto==3.0.2
packaging==21.3
pluggy==1.0.0
pycparser==2.21
pyparsing==3.0.9
pytest==7.2.0
pytest-cov==4.0.0
pytest-mock==3.10.0
pytest-xdist==3.0.2
python-dateutil==2.8.2
pytz==2022.6
requests==2.28.1
responses==0.22.0
s3transfer==0.6.0
six==1.16.0
sortedcontainers==2.4.0
toml==0.10.2
tomli==2.0.1
types-toml==0.10.8
typing_extensions==4.4.0
urllib3==1.26.12
Werkzeug==2.2.2
xmltodict==0.13.0
zipp==3.10.0
