*.egg-info
*.pyc
*.pyo
*~
.DS_Store
.tox
/.cache*
/.coverage*
/build
/doc/generated/*
/doc/lib/generated/*
/runpy
__pycache__
build
dist
docs/build
.python-version
.mypy_cache
.hypothesis
.pytest_cache

#PyCharm
.idea/
venv/
