include README.rst
include CHANGELOG.rst
include LICENSE
include requirements.txt

recursive-include doc *
recursive-exclude doc .DS_Store *.pyc
prune doc/build
prune doc/lib/generated

recursive-include test *
recursive-exclude test .DS_Store *.pyc